In [1]:
# Importint Relevant Libraries
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

There are a varied number of options that you can configure when setting up a SparkSession. Let's go over a few of the more common ones:
* **master**: The URL for the cluster SparkContext to connect to master: The URL for the cluster SparkContext to connect to
* **appName**: The name that will be displayed in the Spark cluster UI
* **config**: Configuration for SparkSession. Any key-value pairs in the config will be applied to the session's SparkConf. For example, you can set the spark.sql.shuffle.partitions configuration property to change the number of partitions in joins and aggregations. Or you can set spark.executor.memory to change the amount of memory used per executor process.

In [2]:
# Creating a Spark Session
# Wrapping the session in brackets allows us to chain commands without using a "\" in Python
spark = (SparkSession.builder
        .master("local[*]") # Using all cores
        .appName("Catch-Up Session")
        .getOrCreate())

In [3]:
# Viewing the Spark Session
spark

The SparkSession is the entry point to Spark SQL. It manages the SparkContext that was used to create it, and provides a way to create DataFrames and DataSets. Spark SQL is the Spark module for working with structured data. It allows you to use SQL or the DataFrame/Dataset API to express Spark operations on structured data.

For this exercise, we will be going over how we can read, access and manipulate structured data in Spark using Spark SQL. The data we will be using will be stored in the data directory contained in this repository

## Read Files

There are a lot of similarities between Pandas and Spark SQL when it comes to reading files. The main difference is that Spark SQL is able to read files from a distributed file system, such as HDFS, whereas Pandas is only able to read files from a local file system. Spark SQL is also able to read files from a local file system, but it is not recommended to do so in a production environment.

On top of that, there are also similar functionalities when handling the dataframes produced. Let's explore some of those while also listing the differences.

In [4]:
# Column names to use in the wine dataset
colNames = [
    'target', 'alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash', 'magnesium', 'total_phenols',
    'flavanoids', 'nonflavanoid_phenols', 'proanthocyanins', 'color_intensity', 'hue',
    'od280_od315_of_diluted_wines', 'proline'
]

In [5]:
# Read the data into a variable called wine
wine = spark.read.csv('./data/wine.data', header=False, inferSchema=True).toDF(*colNames)

While reading the csv, we could have gone about it in different manners. For example:
1. `spark.read.csv("data/airports.csv").option("header", "true").option("inferSchema", "true")`

    In this instance, we are chaining the options we want to set to the dataframe. This is a very common way of doing things in Spark SQL.
2. `spark.read.options(header="true", inferSchema="true").csv("data/airports.csv")`

    In this instance, we are passing the options as keyword arguments to the options function. This is also a very common way of doing things in Spark SQL.

Pick what you prefer and stick with it. The important thing is to be **consistent**.

In [6]:
# View the first 5 rows of the wine dataset
wine.show(5)

+------+-------+----------+----+-----------------+---------+-------------+----------+--------------------+---------------+---------------+----+----------------------------+-------+
|target|alcohol|malic_acid| ash|alcalinity_of_ash|magnesium|total_phenols|flavanoids|nonflavanoid_phenols|proanthocyanins|color_intensity| hue|od280_od315_of_diluted_wines|proline|
+------+-------+----------+----+-----------------+---------+-------------+----------+--------------------+---------------+---------------+----+----------------------------+-------+
|     1|  14.23|      1.71|2.43|             15.6|      127|          2.8|      3.06|                0.28|           2.29|           5.64|1.04|                        3.92|   1065|
|     1|   13.2|      1.78|2.14|             11.2|      100|         2.65|      2.76|                0.26|           1.28|           4.38|1.05|                         3.4|   1050|
|     1|  13.16|      2.36|2.67|             18.6|      101|          2.8|      3.24|                 0.3|           2.81|           5.68|1.03|                        3.17|   1185|
|     1|  14.37|      1.95| 2.5|             16.8|      113|         3.85|      3.49|                0.24|           2.18|            7.8|0.86|                        3.45|   1480|
|     1|  13.24|      2.59|2.87|             21.0|      118|          2.8|      2.69|                0.39|           1.82|           4.32|1.04|                        2.93|    735|
+------+-------+----------+----+-----------------+---------+-------------+----------+--------------------+---------------+---------------+----+----------------------------+-------+
only showing top 5 rows

A schema is a description of the structure of your data. It is a list of fields (columns) and their data types, nothing more. It does not contain any data itself. A schema can be applied to a DataFrame, which allows Spark to understand the data in that DataFrame. This allows Spark to run certain optimizations on the data, and allows Spark to compress the data when it is serialized and sent over the network.

In [7]:
# Printing the schema of the wine dataset
wine.printSchema()

root
 |-- target: integer (nullable = true)
 |-- alcohol: double (nullable = true)
 |-- malic_acid: double (nullable = true)
 |-- ash: double (nullable = true)
 |-- alcalinity_of_ash: double (nullable = true)
 |-- magnesium: integer (nullable = true)
 |-- total_phenols: double (nullable = true)
 |-- flavanoids: double (nullable = true)
 |-- nonflavanoid_phenols: double (nullable = true)
 |-- proanthocyanins: double (nullable = true)
 |-- color_intensity: double (nullable = true)
 |-- hue: double (nullable = true)
 |-- od280_od315_of_diluted_wines: double (nullable = true)
 |-- proline: integer (nullable = true)

#### Basic Data Cleaning

In [21]:
# Checking for duplicates
assert wine.count() == wine.dropDuplicates().count()

True

In [26]:
# Checking for nulls
wine.select([F.count(F.when(F.isnull(c), c)).alias(c) for c in wine.columns]).show()

+------+-------+----------+---+-----------------+---------+-------------+----------+--------------------+---------------+---------------+---+----------------------------+-------+
|target|alcohol|malic_acid|ash|alcalinity_of_ash|magnesium|total_phenols|flavanoids|nonflavanoid_phenols|proanthocyanins|color_intensity|hue|od280_od315_of_diluted_wines|proline|
+------+-------+----------+---+-----------------+---------+-------------+----------+--------------------+---------------+---------------+---+----------------------------+-------+
|     0|      0|         0|  0|                0|        0|            0|         0|                   0|              0|              0|  0|                           0|      0|
+------+-------+----------+---+-----------------+---------+-------------+----------+--------------------+---------------+---------------+---+----------------------------+-------+

> Derivation for the above code can be found [here](https://stackoverflow.com/questions/44627386/how-to-find-count-of-null-and-nan-values-for-each-column-in-a-pyspark-dataframe)

**Explanation**: The code loops over all the columns and for each, it filters the null entries and returns them to the count function which tallies them up. Each result gets an alias of the column name and is then unioned with the previous result. The final result is a dataframe with the column names and the number of null entries for each column.

**Conclusion**: None of the columns have null values.

In [27]:
# It's important to break down what happened in the above line of code
# Here is the output of the list comprehension used.
[F.count(F.when(F.isnull(c), c)).alias(c) for c in wine.columns]

[Column<'count(CASE WHEN (target IS NULL) THEN target END) AS target'>,
 Column<'count(CASE WHEN (alcohol IS NULL) THEN alcohol END) AS alcohol'>,
 Column<'count(CASE WHEN (malic_acid IS NULL) THEN malic_acid END) AS malic_acid'>,
 Column<'count(CASE WHEN (ash IS NULL) THEN ash END) AS ash'>,
 Column<'count(CASE WHEN (alcalinity_of_ash IS NULL) THEN alcalinity_of_ash END) AS alcalinity_of_ash'>,
 Column<'count(CASE WHEN (magnesium IS NULL) THEN magnesium END) AS magnesium'>,
 Column<'count(CASE WHEN (total_phenols IS NULL) THEN total_phenols END) AS total_phenols'>,
 Column<'count(CASE WHEN (flavanoids IS NULL) THEN flavanoids END) AS flavanoids'>,
 Column<'count(CASE WHEN (nonflavanoid_phenols IS NULL) THEN nonflavanoid_phenols END) AS nonflavanoid_phenols'>,
 Column<'count(CASE WHEN (proanthocyanins IS NULL) THEN proanthocyanins END) AS proanthocyanins'>,
 Column<'count(CASE WHEN (color_intensity IS NULL) THEN color_intensity END) AS color_intensity'>,
 Column<'count(CASE WHEN (hue IS NULL) THEN hue END) AS hue'>,
 Column<'count(CASE WHEN (od280_od315_of_diluted_wines IS NULL) THEN od280_od315_of_diluted_wines END) AS od280_od315_of_diluted_wines'>,
 Column<'count(CASE WHEN (proline IS NULL) THEN proline END) AS proline'>]

Great! Since we have no null or duplicate values, the work we need to do is minimal. Let's move on to the next step.
Let's rename a column in the dataframe. Let's focus on the od280_od315_of_diluted_wines column. This column is a bit hard to read, so let's rename it to od280.

In [29]:
# Great example of withColumnRenamed in action
wine = wine.withColumnRenamed('od280_od315_of_diluted_wines', 'od280')

I encourage you to look up how to feature engineer using the `withColumn` function. It is a very useful function that you will be using a lot.

#### Query Data Using SQL

It's possible to create a temporary view of a DataFrame by calling the createOrReplaceTempView method on that DataFrame. This will register the DataFrame as a table in the catalog, which will allow you to run SQL queries on its data. This is a temporary view, so it will only exist for the duration of your SparkSession.

In [30]:
# Example of using views in Spark
wine.createOrReplaceTempView('wine')

# Query for unique values and their distiribution in the target column
spark.sql("""SELECT target, COUNT(*) AS valueCounts FROM wine
          GROUP BY target
          ORDER BY target""").show()

+------+-----------+
|target|valueCounts|
+------+-----------+
|     1|         59|
|     2|         71|
|     3|         48|
+------+-----------+

> Clearly there is a class imbalance in our targe variable especially within class 2.

In [31]:
# Average alcohol content by target rounded off to 2 decimal places
spark.sql( """
          SELECT target, ROUND(AVG(alcohol), 2) AS avgAlcohol FROM wine
          GROUP BY target
          ORDER BY target
          """).show()

+------+----------+
|target|avgAlcohol|
+------+----------+
|     1|     13.74|
|     2|     12.28|
|     3|     13.15|
+------+----------+

I am sure SQL querying brings in a familiarity to the data scientists who have worked with SQL databases. It is still recommended to use the DataFrame API for most of your data manipulation tasks, as it is **more flexible and less error-prone** than SQL queries.

In [32]:
# It's possible to do the same using the DataFrame API
# Remember the paranthesis just allow us to chain commands without using a "\"
(wine.select(['target', 'alcohol']).groupBy('target').
 agg(F.round(F.avg('alcohol'), 2).alias('avgAlcohol'))
 .orderBy('target')).show()

# the same as 
# wine.select(['target', 'alcohol']).groupBy('target').agg(F.round(F.avg('alcohol'), 2).alias('avgAlcohol')).orderBy('target').show()

+------+----------+
|target|avgAlcohol|
+------+----------+
|     1|     13.74|
|     2|     12.28|
|     3|     13.15|
+------+----------+

## Build a Machine Learning Pipeline